:root {
    --title1_color: red;
    --title2_color: blue;
    --title3_color: green;
    --color: yellow;
}

body{
    margin: 0;
}

h1 {
    color: var(--title1_color);
}

h2 {
    color: var(--title2_color);
}

h3 {
    color: var(--title3_color)
}

#free {
    font-family: "Time New Roman";
    font-size: 14;
    font-weight: bolder;
}

#fire {
    font-family: "Time New Roman";
    font-size: 12;
    font-weight: bold;
}
span {
    background-color: var(--color);
}